.banner {
  color: white;
  background-size: cover !important;
  opacity: 0.8;
  height: 80vh;
  display: flex;
  }

.banner-content {
  color: white;
  margin-top: 190px;
  margin-left: 240px;
  letter-spacing: 2px;
  h3 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
}


