---
title: Farm Project - Middleman
---


  <div class="banner" style="background-image: url(<%= image_path 'hortencias.jpg'%>)">

    <div class="banner-content">
      <h3>Escape to nature</h3>
      <p>Clear your mind. Breathe in fresh air. Nourish your soul in the mountains of Minas Gerais.</p>
      <a class="btn btn-primary btn-lg">Start exploring</a>
    </div>

</div>
