---
title: Le Wagon - Middleman
---
<div class="container text-center">
  <h1>Today we are <%= Date.today %></h1>

  <ul class="list-unstlyled">
    <% %w(Fruits&Veggies Honey Brewery Jams).each do |products| %>
    <li>Local and 100% organic <%= products %></li>
    <% end %>
  </ul>




</div>
